html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Verdana", sans-serif;
}

header {
    height: 70vh;
    background-image: url(images/header_patates.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#logo img {
    height: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index : 45;
}

nav.fix a {
    color:white;
    text-decoration: none;
}

nav.fix {
    border-bottom: 1px solid rgba(255,255,255,0.6);
    transition: all 0.3s ease;
}

nav.float {
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.6);
    transition: all 0.3s ease;
}

nav.float a {
    color: black;
    text-decoration: none;
}

#bouton{
    display: block;
    line-height: 50px;
    height: 50px;
    border-radius: 50px;
    width: 300px;
    margin: auto;
    background-color: #e3a52d;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 60px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.7);
  }
  
  #bouton:hover{
    background-color: #c47723;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.7);
  }

ul#menu {
    padding: 0;
    margin: 0;
}

.menu_item {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px
}

.menu_item a {
    color: white;
    text-decoration: none;
}

.menu_item a:hover {
    font-weight: bold;

}

#logo {
    display: flex;
}

#logo img {
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

#titre {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titre h1 {
    font-weight: bold;
    font-size: 3em;
}

/* /////////////////// WIDGETS ///////////////// */

#widgets {
    position: relative;
    bottom: 75px;
    z-index: 10;
    width: 100%;
    height: 150px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .widget_container {
    width: 150px;
    height: 150px;
    text-align: center;
    font-weight: bold;
  }
  
  .widget_item {
    width: 100px;
    height: 100px;
    background-color: #e3a52d;
    margin: auto;
    border-radius: 50px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.8);
  }
  
  .widget_item img {
    width: 50px;
    height: 50px;
    margin-top: 25px;
  }

  /* ////////// PRESENTATION //////// */

  section h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 2em;
  }
  
  section#pres {
    background-color: #e7dfc5;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom : 40px;
    min-height: 580px;
  }

  #pres_image {
    max-width: 333px;
    max-height: 333px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    float: left;
    margin-bottom: 40px;
    margin-right: 2%
  }

  section {
    padding-top: 30px;
  }
  
  footer {
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  section#histoire {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
  }
  
  .histoire_image_gauche {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    float: left;
    margin-bottom: 40px;
    margin-right: 2%
  }
  
  .histoire_image_droite {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    float: right;
    margin-bottom: 40px;
    margin-left: 2%
  }
